/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
       url('./fonts/roboto-v18-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/roboto-v18-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('./fonts/roboto-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/roboto-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('./fonts/roboto-v18-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/roboto-v18-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  overflow-y: hidden;
}

div.all {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#Quiz {
  flex-grow: 1;
  background: #f1f1f1;
}

nav {
  background-color: rgb(34, 34, 34);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  font-weight: 700;
  padding: 0 70px;
  box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.50);
  z-index: 1;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-bottom: 1px solid #aaa;
}

footer {
  font-size: 20px;
  text-align: center;
  padding-bottom: 8px;
  background: #f3f3f3;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.16);
}

.title {
  font-size: 32px;
  margin: 5px 0;
  color: #FFA000;
  font-weight: 300;
}

.nav-group {
  display: flex;
  align-items: center;
  background-color: rgb(130, 18, 158);
  padding: 0 10px;
}

.nav-group > p {
  font-size: 22px;
}

.logo {
  height: 35px;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 10px;
}

.form {
  border-radius: 20px;
  padding: 20px;
  margin-top: 50px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  background-color: white;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question {
  font-size: 30px;
}

.Q-message {
  margin-left: 5px;
  font-size: 16px;
  color: #555;
}

.Q-img {
  width: 50px;
  height: 50px;
  transition: opacity 150ms;
}
.inv {
  opacity: 0;
}

.ans-list {
  margin-bottom: 15px;
}

div.ans {
  margin-bottom: 5px;
  position: relative;
}

span.ans {
  font-size: 23px;
}

span.red {
  color: #f44336;
}

span.green {
  color: #7cbb42;
}


div.ans input[type=radio]{
  visibility: hidden;
  z-index: 1;
}

div.ans .check{
  display: block;
  position: absolute;
  box-sizing: border-box;
  border: 2px solid #444;
  border-radius: 100%;
  height: 13px;
  width: 13px;
  top: 8px;
  left: 5px;
	z-index: 0;
	transition: border .15s, background-color .15s;
}

div.ans:hover .check {
  border: 2px solid #222;
}

.check.fill {
  background-color: #444;
}

div.ans:hover .check.fill {
  background-color: #222;
}

.btn {
  background-color: white;
  padding: 4px 10px;
  text-align: center;
  border-radius: 7px;
  border: 1px solid #aaa;
  font-size: 16px;
  transition: color 150ms, background-color 200ms, border-color 200ms;
}

.btn:hover {
  background-color: #1e88e5;
  border-color: #3eaaf6;
  color: white;
  transition: background-color 200ms, border-color 200ms;
}

.bars {
  display: flex;
  margin-top: 10px;
}

.bar {
  flex: 1;
  height: 8px;
  background-color: #7ba4f0;
  margin: 0 2px;
  transition: transform .2s;
}

.bar:hover {
  transform: scaleY(2);
}

.bar.selected {
  background-color: #1e88e5;
}

.code::after {
  font-style: normal;
  display: inline;
  color:#db3c0b;
  font-size: 24px;
  position: relative;
  top: 1px;
  letter-spacing: -3px;
  content: '</>';
}
